body {
  margin: 0;
  padding: 0;
  color: oklch(22.64% 0 0);
  background: oklch(97.02% 0 0);
  text-align: left;
  min-width: 300px;
  min-height: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  padding: 2px 8px;
  background-color: oklch(0.82 0.16 83.95);
  box-shadow: 0 0 3px oklch(0 0 0 / 0.12), 0 1px 2px oklch(0 0 0 / 0.24);
}

#path {
  display: flex;
}

#path li {
  display: flex;
  align-items: center;
}

#path button {
  margin: 2px 0;
  padding: 2px;
}

#path .icon {
  padding: 7px 4px 4px;
}

#path svg {
  width: 17px;
  height: 17px;
}

#path h1 {
  padding: 0;
}

main {
  display: flex;
  flex-grow: 1;
  margin: 1px 0 2px;
  min-height: 0;
}

#tree {
  width: 35%;
  overflow: auto;
  min-width: 200px;
  max-width: 350px;
}

hr {
  margin: 3px 0;
  border: 0;
  height: 1.5px;
  background-image: linear-gradient(to right, oklch(85% 0 0), oklch(32% 0 0), oklch(85% 0 0));
}

.sniplet hr {
  box-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 0 3px oklch(0 0 0 / 0.24);
}

hr.red {
  background-image: linear-gradient(to right, oklch(63.38% 0.2310 27.51 / 0.3), oklch(63.38% 0.2310 27.51), oklch(63.38% 0.2310 27.51 / 0.3));
}

hr.pink {
  background-image: linear-gradient(to right, oklch(72.46% 0.1866 0.08 / 0.3), oklch(72.46% 0.1866 0.08), oklch(72.46% 0.1866 0.08 / 0.3));
}

hr.orange {
  background-image: linear-gradient(to right, oklch(70.08% 0.1978 41.49 / 0.3), oklch(70.08% 0.1978 41.49), oklch(70.08% 0.1978 41.49 / 0.3));
}

hr.yellow {
  background-image: linear-gradient(to right, oklch(88.59% 0.1641 94.67 / 0.3), oklch(88.59% 0.1641 94.67), oklch(88.59% 0.1641 94.67 / 0.3));
}

hr.green {
  background-image: linear-gradient(to right, oklch(75.34% 0.2006 151.44 / 0.3), oklch(75.34% 0.2006 151.44), oklch(75.34% 0.2006 151.44 / 0.3));
}
hr.blue {
  background-image: linear-gradient(to right, oklch(53.93% 0.1398 246.4 / 0.3), oklch(53.93% 0.1398 246.4), oklch(53.93% 0.1398 246.4 / 0.3));
}
hr.lightblue {
  background-image: linear-gradient(to right, oklch(81.37% 0.1038 240.72 / 0.3), oklch(81.37% 0.1038 240.72), oklch(81.37% 0.1038 240.72 / 0.3));
}
hr.purple {
  background-image: linear-gradient(to right, oklch(58.64% 0.1462 301.27 / 0.3), oklch(58.64% 0.1462 301.27), oklch(58.64% 0.1462 301.27 / 0.3));
}
hr.brown {
  background-image: linear-gradient(to right, oklch(43.57% 0.0616 43.74 / 0.3), oklch(43.57% 0.0616 43.74), oklch(43.57% 0.0616 43.74 / 0.3));
}
hr.black {
  background-image: linear-gradient(to right, oklch(22.64% 0 0 / 0.3), oklch(22.64% 0 0), oklch(22.64% 0 0 / 0.3));
}
hr.white {
  background-image: linear-gradient(to right, oklch(97.02% 0 0 / 0.3), oklch(97.02% 0 0), oklch(97.02% 0 0 / 0.3));
}
hr.gray {
  background-image: linear-gradient(to right, oklch(69.27% 0 0 / 0.3), oklch(69.27% 0 0), oklch(69.27% 0 0 / 0.3));
}

hr.vr {
  margin: 0;
  height: auto;
  width: 1.5px;
  background-image: linear-gradient(to bottom, oklch(85% 0 0), oklch(32% 0 0), oklch(85% 0 0));
}

#sniplets {
  overflow: auto;
  flex-grow: 1;
  padding-bottom: 100px;
}

h1 {
  font-size: 16px;
  line-height: 24px;
  padding: 4px;
  margin: 0;
}

.title h1 {
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  padding: 0 14px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  padding: 0 4px;
  text-align: left;
}

.sniplet .name,
.sniplet h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  font-size: 16px;
  line-height: 32px;
}

.quick-actions {
  display: flex;
}

.tinytype {
  font-size: x-small;
  font-weight: 500;
}

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0 6px;
  text-transform: none;
  appearance: button;
  border: 0;
  background: transparent;
  text-align: center;
  transition-duration: 150ms;
}

button:not([disabled]):hover,
[type="button"]:not([disabled]):hover {
  border-radius: 3px;
  box-shadow: 0 0 3px oklch(0 0 0 / 0.12), 0 1px 2px oklch(0 0 0 / 0.24);
}

button:active,
[type="button"]:active {
  box-shadow: none;
}

[type="button"]:not([disabled]):focus:hover {
  filter: drop-shadow(0 1px 2px oklch(0 0 0 / 0.24));
}

[type="button"]:not([disabled]):focus:active {
  filter: none;
}

.icon {
  padding: 4px;
  font-size: 0;
}

.icon svg {
  width: 20px;
  height: 20px;
}

header .icon {
  padding: 4px;
  font-size: 0;
}

header .icon svg {
  width: 24px;
  height: 24px;
}

nav {
  flex-grow: 1;
}

.prefix {
  padding: 6px;
}

svg {
  height: 100%;
  width: 100%;
  transition-duration: 300ms;
}

svg.chevron {
  margin: 1px -4px -1px -2px;
}

header,
main,
.snip-content,
.title {
  display: flex;
  position: relative;
}

.snip-content {
  flex-direction: column;
}

h1,
h2,
textarea,
.name {
  flex-grow: 1;
}

header {
  gap: 4px;
}

.card {
  margin: 8px 9px 10px;
  border-radius: 3px;
  padding: 3px;
  background: oklch(1 0 0);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px oklch(0 0 0 / 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.drag {
  cursor: move;
}

.placeholder {
  text-align: center;
  font-size: 14px;
  margin: 9px;
  border: 3px dashed;
  border-radius: 4px;
  height: 20px;
  background: oklch(0.91 0.03 67.44);
}

input, select {
  flex-grow: 1;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: inherit;
  margin: 0;
  border: none;
  padding: 0 4px;
  background: none;
  text-align: left;
  min-width: 0;
}

input + label .icon.checked {
  display: none;
}
input:checked + label .icon {
  display: none;
}
input:checked + label .icon.checked {
  display: unset;
}

.menu {
  position: relative;
}

.menu-list,
.dropdown {
  position: absolute;
  top: 100%;
  margin: 0;
  border: none;
  padding: 0;
  z-index: 10;
}

.quick-actions .menu-list {
  right: 0;
}

.dropdown hr {
  margin: 1px;
}

.menu ul {
  padding: 0;
}

.menu-item {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
}

.menu-item input {
  display: none;
}

legend,
.menu-item button {
  display: flex;
  width: 100%;
}

legend {
  float: left;
  padding: 0;
  border: none;
}

.menu-item button,
.menu-item h3 {
  flex-grow: 1;
  font-size: 14px;
  line-height: 32px;
  text-align: left;
  font-weight: normal;
  margin: 0;
  padding: 0 12px;
  white-space: nowrap;
}

.control label {
  display: flex;
}

.control label h3 {
  flex-grow: 1;
}

label .icon {
  margin: 0 -12px 0 0;
  padding: 8px 5px 8px 11px;
}

label .icon svg {
  width: 16px;
  height: 16px;
}

input:focus + label,
.menu-item:hover {
  box-shadow: 0 1px 3px oklch(89% 0.08 107.94 / 0.8), 0 3px 5px oklch(82% 0.07 107.78 / 0.8)
}

.menu-item > .menu-list {
  position: absolute;
  top: 0;
  left: 100%;
}

.menu-item:hover > .menu-list {
  display: block;
}

.snip-content textarea {
  margin: 0;
  border: 0;
  padding: 5px 0 5px 8px;
  scrollbar-gutter: stable;
  font-size: 15px;
  line-height: 19px;
  background: oklch(100% 0 0);
  transition: height 125ms;
}

.sniplet .field label {
  padding-left: 8px;
}

.logo {
  width: 32px;
  height: 32px;
}

dialog {
  font-size: larger;
  width: fit-content;
  max-width: 600px;
  word-break: break-word;
}

dialog.narrow {
  width: fit-content;
}

dialog h1 {
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}

dialog .x {
  position: absolute;
  top: 0;
  right: 0;
}

dialog .buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.fields {
  display: table;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.fields .divider {
  height: 10px;
}

.fields fieldset {
  padding: 0;
}

.field {
  display: table-row;
}

.field label {
  display: table-cell;
  width: 0;
  padding: 2px 8px 2px 0;
  white-space: nowrap;
}

.field input, .field select {
  display: table-cell;
  font: inherit;
  box-sizing: border-box;
  padding: 2px 4px;
  width: 100%;
  border-bottom: 1px solid black;
}

select {
  appearance: none;
}

.source-url {
  margin-top: 4px;
}

.widget-toast {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  align-content: center;
  background: white;
  font-size: large;
}

#toast {
  position: fixed;
  top: 32px;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  max-width: 300px;
  border-radius: 4px;
  padding: 0.5rem;
  z-index: 9;
  animation: fade-in 0.17s ease-out forwards, fade-out 0.1s ease-out 2s forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

#toast.success {
  background: oklch(92% 0.2 129.1);
}

#toast.warning {
  background: oklch(88.59% 0.1641 94.67);
}

#toast.error {
  background: oklch(63.38% 0.2310 27.51);
}

#sniplets > hr { 
  margin-left: 9px;
  margin-right: 9px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

ul ul {
  padding-left: 10px;
}

li.delimiter {
  display: none;
  height: 8px;
}

figure {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.folder-highlight {
  box-shadow: 1px 3px oklch(0.82 0.07 107.78 / 0.80), 0 3px 5px oklch(0.82 0.07 107.78 / 0.80)
}
.move-above {
  border-top: 3px solid oklch(0% 0 0 / 0.24);
}
.move-below {
  border-bottom: 3px solid oklch(0% 0 0 / 0.24);
}

.hidden {
  display: none;
}

@media (max-width: 500px) {
  .tree {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
}