:root {
  --red: oklch(63.38% 0.2310 27.51);
  --red-30: oklch(63.38% 0.2310 27.51 / 0.3);
  --pink: oklch(72.46% 0.1866 0.08);
  --pink-30: oklch(72.46% 0.1866 0.08 / 0.3);
  --orange: oklch(70.08% 0.1978 41.49);
  --orange-30: oklch(70.08% 0.1978 41.49 / 0.3);
  --yellow: oklch(88.59% 0.1641 94.67);
  --yellow-30: oklch(88.59% 0.1641 94.67 / 0.3);
  --green: oklch(75.34% 0.2006 151.44);
  --green-30: oklch(75.34% 0.2006 151.44 / 0.3);
  --lightblue: oklch(81.37% 0.1038 240.72);
  --lightblue-30: oklch(81.37% 0.1038 240.72 / 0.3);
  --blue: oklch(53.93% 0.1398 246.4);
  --blue-30: oklch(53.93% 0.1398 246.4 / 0.3);
  --purple: oklch(58.64% 0.1462 301.27);
  --purple-30: oklch(58.64% 0.1462 301.27 / 0.3);
  --brown: oklch(43.57% 0.0616 43.74);
  --brown-30: oklch(43.57% 0.0616 43.74 / 0.3);
  --black: oklch(22.64% 0 0);
  --black-30: oklch(22.64% 0 0 / 0.3);
  --white: oklch(97.02% 0 0);
  --white-30: oklch(97.02% 0 0 / 0.3);
  --grey: oklch(69.27% 0 0);
  --grey-30: oklch(69.27% 0 0 / 0.3);
  --metal: light-dark(oklch(33% 0 0), oklch(67% 0 0));
  --metal-30: light-dark(oklch(33% 0 0 / 0.3), oklch(67% 0 0 / 0.3));
  --bg-color: light-dark(var(--white), var(--black));
  --fg-color: light-dark(var(--black), var(--white));
  --ph-color: light-dark(oklch(91% 0.03 67.44), oklch(29% 0.03 67.44));
  --hl-color: oklch(82% 0.16 83.95);
  --shadow-12-black: oklch(0% 0 0 / 0.12);
  --shadow-24-black: oklch(0% 0 0 / 0.24);
  --shadow-12: light-dark(var(--shadow-12-black), oklch(100% 0 0 / 0.12));
  --shadow-24: light-dark(var(--shadow-24-black), oklch(100% 0 0 / 0.24));
  --shadow-80: light-dark(oklch(82% 0.07 107.78 / 0.80), oklch(32% 0.07 107.78 / 0.80));
  
  color-scheme: light dark;

  interpolate-size: allow-keywords;
}

body {
  display: flex;
  flex-direction: column;

  min-width: 300px;
  height: 100vh;
  min-height: 200px;
  margin: 0;
  padding: 0;

  color: var(--fg-color);
  text-align: left;

  background: var(--bg-color);
}

header,
main,
.snip-content,
.title {
  position: relative;
  display: flex;
}

h1,
h2,
textarea,
.name {
  flex-grow: 1;
}

header {
  display: flex;
  gap: 4px;

  padding: 2px 8px;

  background-color: var(--hl-color);
  box-shadow: 0 0 3px var(--shadow-12), 0 1px 2px var(--shadow-24);
}

main {
  display: flex;
  flex-grow: 1;
  min-height: 0;
  margin: 1px 0 2px;
}

hr {
  height: 1.5px;
  margin: 3px 0;
  border: 0;
  background-image: linear-gradient(to right in oklab, var(--metal-30), var(--metal), var(--metal-30));
}

h1 {
  margin: 0;
  padding: 4px;
  font-size: 16px;
  line-height: 24px;
}

h2 {
  margin: 0;
  padding: 0 4px;

  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  text-align: left;
}

h3 {
  font-size: 16px;
  line-height: 32px;
}

button {
  margin: 0;
  padding: 0 6px;
  border: 0;

  font-family: inherit;
  font-size: 100%;
  text-align: center;
  text-transform: none;

  appearance: auto;
  background: transparent;

  transition-duration: 150ms;
}

figure {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

svg {
  width: 100%;
  height: 100%;
  fill: var(--fg-color);
  transition-duration: 300ms;
}

svg.chevron {
  margin: 1px -4px -1px -2px;
}

input, select {
  flex-grow: 1;

  min-width: 0;
  margin: 0;
  padding: 0 4px;
  border: none;

  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: inherit;
  text-align: left;
  text-overflow: ellipsis;

  background: none;
}

select {
  appearance: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

ul ul {
  padding-left: 10px;
}

.legend,
.menu-item button {
  display: flex;
  width: 100%;
}

.legend {
  padding: 0;
  border: none;
}

.icon {
  padding: 4px;
  font-size: 0;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.title h1 {
  padding: 0 14px;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}

.sniplet .name,
.sniplet h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.menu-item input {
  display: none;
}

.menu-item button,
.menu-item h3 {
  flex-grow: 1;

  margin: 0;
  padding: 0 12px;

  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
}

button:active,
[type="button"]:active {
  box-shadow: none;
}

button:not([disabled]):hover,
[type="button"]:not([disabled]):hover {
  border-radius: 3px;
  box-shadow: 0 0 3px var(--shadow-12), 0 1px 2px var(--shadow-24);
}

[type="button"]:not([disabled]):focus:hover {
  filter: drop-shadow(0 1px 2px var(--shadow-24));
}

[type="button"]:not([disabled]):focus:active {
  filter: none;
}

.sniplet hr {
  box-shadow: 0 1px 4px var(--shadow-12), 0 0 3px var(--shadow-24);
}

.red{
  color: var(--red);
  fill: var(--red);
}

hr.red {
  background-image: linear-gradient(to right in oklab, var(--red-30), var(--red), var(--red-30));
}

.pink {
  color: var(--pink);
  fill: var(--pink);
}

hr.pink {
  background-image: linear-gradient(to right in oklab, var(--pink-30), var(--pink), var(--pink-30));
}

.orange {
  color: var(--orange);
  fill: var(--orange);
}

hr.orange {
  background-image: linear-gradient(to right in oklab, var(--orange-30), var(--orange), var(--orange-30));
}

.yellow {
  color: var(--yellow);
  fill: var(--yellow);
}

hr.yellow {
  background-image: linear-gradient(to right in oklab, var(--yellow-30), var(--yellow), var(--yellow-30));
}

.green {
  color: var(--green);
  fill: var(--green);
}

hr.green {
  background-image: linear-gradient(to right in oklab, var(--green-30), var(--green), var(--green-30));
}

.lightblue {
  color: var(--lightblue);
  fill: var(--lightblue);
}

hr.lightblue {
  background-image: linear-gradient(to right in oklab, var(--lightblue-30), var(--lightblue), var(--lightblue-30));
}

.blue {
  color: var(--blue);
  fill: var(--blue);
}

hr.blue {
  background-image: linear-gradient(to right in oklab, var(--blue-30), var(--blue), var(--blue-30));
}

.purple {
  color: var(--purple);
  fill: var(--purple);
}

hr.purple {
  background-image: linear-gradient(to right in oklab, var(--purple-30), var(--purple), var(--purple-30));
}

.brown {
  color: var(--brown);
  fill: var(--brown);
}

hr.brown {
  background-image: linear-gradient(to right in oklab, var(--brown-30), var(--brown), var(--brown-30));
}

.black {
  color: var(--black);
  filter: drop-shadow(var(--white) 0 0 1px);
  fill: var(--black);
}

hr.black {
  background-image: linear-gradient(to right in oklab, var(--black-30), var(--black), var(--black-30));
}

.white {
  color: var(--white);
  filter: drop-shadow(var(--black) 0 0 1px);
  fill: var(--white);
}

hr.white {
  background-image: linear-gradient(to right in oklab, var(--white-30), var(--white), var(--white-30));
}

.gray, .grey {
  color: var(--grey);
  fill: var(--grey);
}

hr.gray, hr.grey {
  background-image: linear-gradient(to right in oklab, var(--grey-30), var(--grey), var(--grey-30));
}

hr.vr {
  width: 1.5px;
  height: auto;
  margin: 0;
  background-image: linear-gradient(to bottom in oklab, var(--metal-30), var(--metal), var(--metal-30));
}

.quick-actions {
  display: flex;
}

.tinytype {
  font-size: x-small;
  font-weight: 500;
}

header .icon {
  padding: 4px;
  font-size: 0;
}

header .icon svg {
  width: 24px;
  height: 24px;
  fill: var(--black);
}

nav {
  flex-grow: 1;
}

.prefix {
  padding: 6px;
}

.sniplet form {
  position: relative;
}

.snip-content {
  overflow: hidden;
  flex-direction: column;
}

.snip-content.collapsed {
  height: 0;
}

.snip-content.collapsed textarea {
  padding: 0;
}

.content-collapser {
  position:absolute;
  bottom: -2px;

  display: block;

  width: 100%;
  padding: 1px;

  font-size: 6px;
}

.content-collapser span {
  padding: 0 10px;
  background-color: var(--bg-color);
}

.card {
  margin: 8px 9px 10px;
  padding: 3px;
  border-radius: 3px;

  background: var(--bg-color);
  box-shadow: 0 1px 3px var(--shadow-12), 0 1px 2px var(--shadow-24);
}

.drag {
  cursor: move;
}

.placeholder {
  height: 20px;
  margin: 9px;
  border: 3px dashed;
  border-radius: 4px;

  font-size: 14px;
  text-align: center;

  background: var(--ph-color);
}

.menu {
  position: relative;
}

.menu-list,
.dropdown {
  position: absolute;
  z-index: 10;
  top: 100%;

  margin: 0;
  padding: 0;
  border: none;
}

.quick-actions .menu-list {
  right: 0;
}

.dropdown hr {
  margin: 1px;
}

.menu ul {
  padding: 0;
}

.control label {
  display: flex;
}

.control label h3 {
  flex-grow: 1;
}

label .icon {
  margin: 0 -12px 0 0;
  padding: 8px 5px 8px 11px;
}

label .icon svg {
  width: 16px;
  height: 16px;
  fill: var(--fg-color);
}

input:focus + label,
.menu-item:hover {
  box-shadow: 0 1px 3px oklch(89% 0.08 107.94 / 0.8), 0 3px 5px oklch(82% 0.07 107.78 / 0.8)
}

.menu-item > .menu-list {
  position: absolute;
  top: 0;
  left: 100%;
}

.menu-item:hover > .menu-list {
  display: block;
}

.content-editor {
  resize: vertical;
  scrollbar-gutter: stable;

  margin: 0;
  padding: 5px 0 5px 8px;
  border: 0;

  font-size: 15px;
  line-height: 19px;

  background: var(--bg-color);

  transition: height 125ms;
}

.no-transition .content-editor {
  transition: none;
}

.sniplet .field label {
  padding-left: 8px;
}

.logo {
  width: 32px;
  height: 32px;
}

dialog {
  width: fit-content;
  max-width: 600px;
  font-size: larger;
  overflow-wrap: anywhere;
}

dialog.narrow {
  width: fit-content;
}

dialog h1 {
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}

dialog .x {
  position: absolute;
  top: 0;
  right: 0;
}

dialog .buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.fields {
  display: table;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.fields .divider {
  height: 10px;
}

.fields fieldset {
  padding: 0;
}

.field {
  display: table-row;
}

.field label {
  display: table-cell;
  width: 0;
  padding: 2px 8px 2px 0;
  white-space: nowrap;
}

.field input, .field select {
  display: table-cell;

  box-sizing: border-box;
  width: 100%;
  padding: 2px 4px;
  border-bottom: 1px solid var(--fg-color);

  font: inherit;
}

.source-url {
  margin-top: 4px;
}

.widget-toast {
  position: absolute;
  inset: 0;

  align-content: center;

  font-size: large;
  text-align: center;

  background: var(--bg-color);
}

li.delimiter {
  display: none;
  height: 8px;
}

.folder-highlight {
  box-shadow: 1px 3px var(--shadow-80), 0 3px 5px var(--shadow-80);
}

.move-above {
  border-top: 3px solid var(--shadow-24);
}

.move-below {
  border-bottom: 3px solid var(--shadow-24);
}

.hidden {
  display: none;
}

input + label .icon.checked {
  display: none;
}

input:checked + label .icon {
  display: none;
}

input:checked + label .icon.checked {
  display: unset;
}

h1.notice {
  border-top: 2px solid var(--fg-color);
  border-bottom: 2px solid var(--fg-color);

  font-size: 24px;
  line-height: 34px;

  background: var(--yellow-30);
}

ul.notice {
  margin: revert;
  padding: revert;
  list-style-type: disclosure-closed;
}

#toast {
  position: fixed;
  z-index: 9;
  top: 32px; 
  right: 0;
  left: 0; 

  width: fit-content;
  max-width: 300px; 
  margin-inline: auto;
  padding: 0.5rem;
  border-radius: 4px;

  animation: fade-in 0.17s ease-out forwards, fade-out 0.1s ease-out 2s forwards;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

#toast.success {
  background: oklch(92% 0.2 129.1);
}

#toast.warning {
  background: oklch(88.59% 0.1641 94.67);
}

#toast.error {
  background: oklch(63.38% 0.2310 27.51);
}

#sniplets {
  scroll-behavior: smooth;
  overflow: auto;
  flex-grow: 1;
  padding-bottom: 100px;
}

#sniplets > hr {
  margin-right: 9px; 
  margin-left: 9px;
}

#tree {
  overflow: auto;
  width: 35%;
  min-width: 200px;
  max-width: 350px;
}

#path {
  display: flex;
}

#path li {
  display: flex;
  align-items: center;
}

#path button {
  margin: 2px 0;
  padding: 2px;
  color: var(--black);
}

#path button:not([disabled]):hover,
#path [type="button"]:not([disabled]):hover {
  border-radius: 3px;
  box-shadow: 0 0 3px var(--shadow-12-black), 0 1px 2px var(--shadow-24-black);
}

#path [type="button"]:not([disabled]):focus:hover {
  filter: drop-shadow(0 1px 2px var(--shadow-24-black));
}

#path .icon {
  padding: 7px 4px 4px;
}

#path svg {
  width: 17px;
  height: 17px;
  fill: var(--black);
}

#path h1 {
  padding: 0;
}

@media (width < 500px) {
  .tree {
    display: none;
  }
}